on:
  workflow_dispatch:
  schedule:
    - cron: "*/10 * * * *" # Every 10 minutes

jobs:
  run:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-python@v5
        with:
          python-version: "3.12"
      - run: pip install -r requirements.txt
      - run: python main.py
        env:
          REDDIT_BOT_CLIENT_ID: ${{ secrets.REDDIT_BOT_CLIENT_ID }}
          REDDIT_BOT_CLIENT_SECRET: ${{ secrets.REDDIT_BOT_CLIENT_SECRET }}
          REDDIT_BOT_USERNAME: ${{ secrets.REDDIT_BOT_USERNAME }}
          REDDIT_BOT_PASSWORD: ${{ secrets.REDDIT_BOT_PASSWORD }}
      - run: |
          if git diff --exit-code logs.json; then
            echo "Logs did not change"
          else
            git config user.name 'github'
            git config user.email 'github@users.noreply.github.com'
            git add logs.json
            git commit -m "Update logs.json"
            git push
          fi
